<div class="container-fluid">
    <div class="gameLayout">
        <header class="row">
            <div class="col-12 mb-5 mt-5">
                <h1 class="text-center">Score: {{score}}</h1>
            </div>
        </header>
        <div class="row sky">
            <div class="sun col-5">
                <img src="../../../assets/img/sky/sun.png">
            </div>
            <div class="gcloud-1 col-1 g-0 offset-2">
                <app-gcloud [id]="1"></app-gcloud>
            </div>
            <div class="gcloud-2 col-2 g-0">
                <app-gcloud [id]="2"></app-gcloud>
            </div>
            <div class="gcloud-3 col-2 g-0">
                <app-gcloud [id]="1"></app-gcloud>
            </div>
            <div class="cloud-1 col-1 g-0">
                <app-cloud [id]="1"></app-cloud>
            </div>
            <div class="cloud-2 col-1 g-0">
                <app-cloud [id]="2"></app-cloud>
            </div>
        </div>
        <div class="row ground">
            <div class="mountain col-3">
                <img src="../../../assets/img/ground/mountain.png">
            </div>
        </div>
        <div class="row">
            <div class="character col-2">
                <span>{{CharName}}</span>
                <img src="../../../assets/img/ally/ally.png">
            </div>
            <div class="bullet col-1">
                <img src="../../../assets/img/ground/bullet.png">
            </div>
            <div class="enemy col-2">
                <img [src]="isWalking ? '../../../assets/img/enemy/enemy-walk-' + idEnemy + '.png' : '../../../assets/img/enemy/enemy-' + idEnemy + '.png'" class="minion" alt="Enemy"> 
            </div>
            <div class="cactus-1 col-2">
                <img src="../../../assets/img/ground/cactus-1.png">
            </div>
            <div class="cactus-2 col-2">
                <img src="../../../assets/img/ground/cactus-2.png">
            </div>
            <div class="cactus-3 col-2">
                <img src="../../../assets/img/ground/cactus-1.png">
            </div>
            <div class="dino col-2">
                <img src="../../../assets/img/ground/dino.png">
            </div>
            <app-tpper [parentComponent]="this" (cambioBooleano)="setGame($event)"></app-tpper>
        </div>
        <div>
    </div>
</div>
