<footer class="container-fluid g-0">
  <div class="row">
    <div class="col-4">
      <audio controls id="myAudio" loop>
        <!-- Hay que poner el autoplay -->
        <source src="../../../assets/audio/main-song.mp3" type="audio/mp3" />
      </audio>
      <button (click)="music()"><img src="{{ img }}" alt="" /></button>
      <!--  -->
    </div>
    <div class="col-4 text-center">
      <button mat-raised-button (click)="openModal()">Instrucciones del juego</button>
    </div>
  </div>

  <div class="row text-center">
    <div class="col-4 text-center offset-4">
      <p>Hecho por kikso</p>
    </div>
    <div class="col-4 text-end">
      <p>&copy; 2024 Cowboy Typper. Todos los derechos reservados.</p>
    </div>
  </div>
</footer>
